@charset "utf-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
audio, canvas, video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
[hidden] {
 display: none;
}
html {
	overflow-y: scroll;
	font-size: 1em;
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, sans-serif;
	font-size: 0.85em;
}
#widthBox, #footer, .sectionHead, #header {
	border-radius: 0.4em;
	text-align: left;
}
a, a:link, a:visited {
	text-decoration: none;
	font-weight: normal;
	color: #00247d;
}
a:hover {
	text-decoration: underline;
}
img {
	border: none;
}
hr {
	color: #969696;
}
/* HEADER */
#header {
	height: 5.5em;
	position: relative;
}

#shortcuts {
	float: left;
	width: 0.5em;
}
#shortcuts a {
	display: block;
	height: 0.5em;
}
#menu {
	padding: 0.1em;
	padding-bottom: 0.5em;
	margin-bottom: 0.8em;
	background-color: #00247d;
	width: 97.5%;
	height: 1em;
	text-align: center;
}
/* BREAD CRUMBS */
#breadCrumbs {
	clear: both;
	color: #1f7ec0;
	font-size: 80%;
	padding: 0.2em;
	text-indent: 0.8em;
	background: #fff;
	margin-top: 1.5em;
}
#breadCrumbs a:link, #breadCrumbs a:visited {
	color: #1f7ec0;
}
#breadCrumbs a:hover {
	color: #CC0000;
}
.contacts {
	display: block;
	float: left;
	width: 7em;
}
.menuRow {
	padding-left: 3em;
	font-size: 95%;
	margin-top: 0.2em;
	display: inline-block;
}
.menuRow a:link, .menuRow a:visited {
	color: #fff;
	font-weight: bold;
}
#slogan {
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: bolder;
	font-size: 4em;
}
/* MAIN CONTENT */
h1, h2, h3, h4 {
	font-family: Arial, sans-serif;
	color: #cf142b;
}
h1 {
	font-size: 170%;
	padding-top: 0;
	margin-bottom: 0.2em;
	font-family: "Arial Black", Gadget, sans-serif;
}
h2 {
	font-size: 148%;
	padding-bottom: 0;
	margin-bottom: 0.2em;
	margin-top: 0.9em;
	border-bottom: #999 solid 0.05em;
}
h3 {
	font-size: 134%;
	margin-bottom: 0.2em;
	margin-top: 0.9em;
	border-bottom: #999 solid 0.05em;
}
h4 {
	font-size: 115%;
	margin-bottom: 0.1em;
}
h5 {
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 0.9em;
}
p {
	margin-top: 0.2em;
	margin-bottom: 0.4em;
}
.red {
	color: #cf142b;
}
.blue {
	color: #00247d;
}
.boxed {
	padding: 0.2em;
	border: solid 0.1em #00247d;
}
#header #logo {
	position: absolute;
	left: 0.8em;
	top: 1.8em;
}
#fullWidthCol {
	margin-right: 0.2em;
	clear: both;
}
ul li {
	margin-top: 0.1em;
	margin-right: 1em;
}
ul ul li {
	list-style-image: none;
	list-style-type: square;
	list-style: square;
}
ol {
	padding-bottom: 0.2em;
	margin-right: 1em;
}
/* FOOTER */
#footer {
	clear: both;
	display: block;
	background-color: #7F7F7F;
	padding: 0.2em;
}
#footer p, #footer p a:link, #footer p a:visited {
	margin: 0.1em;
	padding: 0;
	color: #FFF;
	font-size: 92%;
}
/* TABLES */
table {
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	margin-bottom: 0.2em;
	margin-top: 0.8em;
}
table td, table th {
	vertical-align: top;
	padding: 0.2em;
	margin: 0;
}
table th {
	border: 0.1em solid #25408F;
	background-color: #1f7ec0;
	color: #FFFFFF;
	font-weight: normal;
}
table th a, table th a:link, table th a:visited {
	color: #fff;
}
table td {
	border: 0.1em solid #1f7ec0;
	background-color: #fff;
}
.clear {
	clear: both;
}
.clearLeft {
	clear: left;
}
.clearRight {
	clear: right;
}
sub {
	vertical-align: text-bottom;
	font-size: 80%;
}
sup {
	vertical-align: text-top;
	font-size: 80%;
}
.imgBoxRight50, .imgBoxRight40, .imgBoxLeft50, .imgBoxLeft40 {
	margin-bottom: 0.8em;
	position: relative;
}
.imgBoxRight50, .imgBoxRight40 {
	margin-left: 0.4em;
	padding-left: 0.4em;
	clear: right;
}
.imgBoxLeft50, .imgBoxLeft40 {
	margin-right: 0.4em;
	padding-right: 0.4em;
}
.imgBoxRight40 img, .imgBoxLeft40 img, .imgBoxRight50 img, .imgBoxLeft50 img, .imgBoxLeft30 img, .imgBoxLeft20 img {
	width: 100%;
	border: 0;
	margin-bottom: 0.2em;
}
.imgBoxRight40 p, .imgBoxLeft40 p, .imgBoxRight50 p, .imgBoxLeft50 p {
	margin-top: 1.5em;
}
figurecaption, label, .fileSizeComment {
	font-size: 85%;
	color: #666;
}
.embed-container {
	position: relative;
	padding-bottom: 56.25%; /* 16/9 ratio */
	padding-top: 1.8em; /* IE6 workaround*/
	height: 0;
	overflow: hidden;
	margin-bottom: 0.5em;
	margin-top: 0.8em;
	z-index: 0;
}
.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.logos img {
	height: 5em;
	padding: 1em;
}
#map {
	width: 100%;
	height: 38em;
}
@media screen and (min-width: 50em) {
body {
	background: #aaa;
}
#widthBox {
	margin: 0.4em auto;
	padding: 1em;
	padding-top: 0.2em;
	width: 95%;
	min-width: 50em;
	max-width: 87.5em;
	background-color: #fff;
	position: relative;
}
#header {
	width: 100%;
}
#menu {
	position: absolute;
	left: 1em;
	top: 5em;
}
/* For '2 columns' within the midCol */
.leftCol40, .leftCol50, .leftCol60 {
	display: block;
	float: left;
}
.rightCol40, .rightCol50, .rightCol60 {
	display: block;
	float: right;
}
.leftCol60, .rightCol60 {
	width: 58%;
}
.leftCol50, .rightCol50 {
	width: 48%;
}
.leftCol40 {
	width: 38%;
	margin-right: 2%;
}
.rightCol40 {
	width: 38%;
	margin-left: 2%;
}
.imgBoxRight50, .imgBoxRight40, .imgBoxRight33, .imgBoxRight30, .imgBoxRight20 {
	float: right;
}
.imgBoxRight50, .imgBoxLeft50 {
	width: 42%;
}
.imgBoxRight40, .imgBoxLeft40 {
	width: 35%;
}
.imgBoxRight20, .imgBoxLeft20 {
	width: 20%;
}
.imgBoxLeft50, .imgBoxLeft40, .imgBoxLeft30, .imgBoxLeft33, .imgBoxLeft20, .imgBoxLeft60 {
	float: left;
	margin-right: 0.5em;
}
}
@media screen and (max-width: 49.9em) {
#leftCol, #midCol, #rightCol, #footer {
	clear: both;
	width: 98%;
}
#header {
	height: 5em;
}
.menuRow {
	float: left;
	width: 12%;
}
#menu {
	display: table;
	height: 100%;
}
}
